// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

#issue-date-sidebar {
  border-top: 8px solid #005ea5;
  padding-top: 15px;
}

.flash-card {
  margin-top: 1.04167em;
  padding: 40px;
  background: #005ea5;
  height: 100%;
  & header {
    padding-left: 40px;
  }

  .flash-card.govuk-details__summary:focus .govuk-details__summary-text {
    color: #0b0c0c;
  }

  & .govuk-heading-xl,
  .govuk-heading-m,
  .flash-card {
    color: #fff !important;
  }
}

.flash-card .govuk-details__summary:hover {
  color: #fff;
}

.circle-step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
  color: #fff;
}

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  color: #005ea5;
  font-weight: bold;
  text-align: center;
  float: left;
  margin-right: 10px;
  font-family: "GDS Transport", Arial, sans-serif;
}

.how-to-apply > li {
  list-style-type: none;
}

.how-to-apply p,
.apply-button,
.flash-card.govuk-details {
  color: #fff;
  margin-left: 32px;
}

.digital-photo-guidance > * {
  margin-left: 32px;
  color: #fff;
}

.govuk-button.apply-button,
.govuk-button.digital-guidance-button {
  background-color: #fff;
  font-weight: 700;
  color: #005ea5;
  -webkit-box-shadow: 0 2px 0 #001526;
  -moz-box-shadow: 0 2px 0 #001526;
  box-shadow: 0 2px 0 #001526;

  & :hover {
    background-color: #f2f2f2;
  }
}

.digital-photo-guidance > .govuk-inset-text {
  border-left-color: #fff;
}

.photo-guide-photos ul {
  display: flex;
  overflow: hidden;
  margin-left: -8px;
}

.photo-guide-photos ul li {
  flex: 1;
  position: relative;
  box-sizing: border-box;
  float: left;
  margin-bottom: 1.05263em;
  padding-left: 8px;
}

.photo-guide-photos img {
  width: 100%;
  vertical-align: bottom;
}

.large {
  width: 50%;
  margin-bottom: 1.05263em;
}

.photo-guide-photos {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.photo-guide-photos .result .approved,
.guidance-photos .result .approved {
  background-image: url(https://www.passport.service.gov.uk/public/images/photo/icon-thick-tick.svg);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.photo-guide-photos .result .failed,
.guidance-photos .result .failed {
  background-image: url(https://www.passport.service.gov.uk/public/images/photo/icon-thick-cross.svg);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.photo-guide-photos .result {
  display: flex;
  font-size: 16px;
  width: 100%;
}

.photo-guide-photos .result .approved,
.photo-guide-photos .result .failed {
  width: 100%;
  padding: 8px 0 8px 30px;
  background-position: left 0 top 6px;
  background-size: 22px;
  font-size: 16px;
}

.white {
  color: #fff;
}

.photo-preview-inner {
  border-top: 10px solid #005ea5;
  padding-top: 10px;
}

@media (min-width: 40.0625em) {
  .accepted-cards {
    width: 66.666%;
  }
}

.accepted-cards {
  display: block;
  width: 100%;
  margin: 15px 0 5px;
  padding: 0;
  float: none;
  overflow: hidden;
}

.accepted-cards.field-empty .american-express,
.accepted-cards .american-express.selected {
  background-position: 25% 0%;
}

.accepted-cards.field-empty .visa,
.accepted-cards .visa.selected {
  background-position: 0% 0%;
}
.accepted-cards.field-empty .master-card,
.accepted-cards .master-card.selected {
  background-position: 12.5% 0%;
}
.accepted-cards.field-empty .unionpay,
.accepted-cards .unionpay.selected {
  background-position: 100% 0%;
}

.accepted-cards.field-empty .jcb,
.accepted-cards .jcb.selected {
  background-position: 37.5% 0%;
}

.accepted-cards.field-empty .discover,
.accepted-cards .discover.selected {
  background-position: 62.5% 0%;
}

.accepted-cards.field-empty .diners-club,
.accepted-cards .diners-club.selected {
  background-position: 50% 0%;
}

.accepted-cards li {
  display: block;
  width: 3rem;
  height: 0;
  margin: 0 10px 5px 0;
  padding-bottom: 2rem;
  float: left;
  background-image: url(/public/images/accepted-cards-sprite.png);
  background-size: 900% 200%;
}

.govuk-form-group.cvc .cvc {
  float: left;
  margin-right: 15px;
}

.govuk-form-group.cvc img {
  position: relative;
  top: -1px;
  max-height: 38px;
  float: left;
  margin-right: 15px;
}
