{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/cya-answer" method="post" novalidate>

        <h1 class="govuk-heading-xl">Check your answers</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Are you applying from the UK?
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['is-applying-uk'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/apply-from-uk">
              Change
              <span class="govuk-visually-hidden">
                  {{ data['is-applying-uk'] }}
                </span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Have you had a UK passport before?
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['is-new'] }}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/new-or-renew">
              Change
              <span class="govuk-visually-hidden">
                  {{ data['is-new'] }}
                </span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['date-of-birth-day'] }}
              {{ data['date-of-birth-month'] }}
              {{ data['date-of-birth-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/date-of-birth">
              Change
              <span class="govuk-visually-hidden">date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            When was the passport issued?
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['passport-issued-day'] }}
              {{ data['passport-issued-month'] }}
              {{ data['passport-issued-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/issue-date">
              Change
              <span class="govuk-visually-hidden">issue date</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Is your passport damaged?
          </dt>
            <dd class="govuk-summary-list__value">
              <p>
                {{ data['is-damaged'] }}</p>
              <p>
                {{ data['passport-damage-details'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/damaged">
              Change
              <span class="govuk-visually-hidden">passport damage</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Lost or stolen?
          </dt>
            <dd class="govuk-summary-list__value">
              <p>{{ data['is-lost'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/lost-or-stolen">
              Change
              <span class="govuk-visually-hidden">lost of stolen</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Do you have any passports from other countries?
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['has-other-passport'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/other-countries">
              Change
              <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
        </dl>

        <p>By submitting this information you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button">
          Confirm
        </button>

      </form>

    </div>
  </div>
{% endblock %}