{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/address">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        What are your contact details?
      </h1>

      <p>It's best to use a phone that you'll have access to. We may contact you if there's problem with your application.</p>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-heading-m" for="width-20">
          <h3 class="govuk-heading-m">Email</h3>
        </label>

        <input class="govuk-input govuk-input--width-20" id="width-20" name="email" type="text" {{ data['email'] }}>

      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-heading-m" for="width-20">
          <h3 class="govuk-heading-m">Confirm email</h3>
        </label>

        <input class="govuk-input govuk-input--width-20" id="width-20" name="confirm-email" type="text" {{ data['confirm-email'] }}>

      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-heading-m" for="width-20">
          <h3 class="govuk-heading-m">Mobile or home phone</h3>
        </label>

        <input class="govuk-input govuk-input--width-20" id="width-20" name="mobile-home-phone" type="number" {{ data['mobile-home-phone'] }}>

      </div>

      <form class="form" action="/passport-size" method="post">
        <button type="submit" class="govuk-button">
          Continue
      </button>
      </form>
    </div>
  </div>

{% endblock %}