{% extends "layout.html" %}

{% block pageTitle %}
  Damaged passport
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/other-countries" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="is-damaged-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
        Is your passport damaged?
      </h1>
            </legend>

            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="is-damaged-conditional-1" name="is-damaged" type="radio" value="Yes" {{ checked("is-damaged", "Yes") }} data-aria-controls="conditional-is-damaged-conditional-1">
                <label class="govuk-label govuk-radios__label" for="is-damaged-conditional-1">
          Yes
        </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-is-damaged-conditional-1">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="passport-damage-details">
            How was the passport damaged?

          </label>
                  <textarea class="govuk-textarea" id="passport-damage-details" name="passport-damage-details" rows="5" aria-describedby="passport-damage-details" value="{{ data['passport-damage-details'] }}">{{ data['passport-damage-details'] }}</textarea>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="is-damaged-conditional-2" name="is-damaged" type="radio" value="No" {{ checked("is-damaged", "No") }}  data-aria-controls="conditional-is-damaged-conditional-2">
                <label class="govuk-label govuk-radios__label" for="is-damaged-conditional-2">
          No
        </label>
              </div>

            </div>
          </fieldset>
        </div>
        <button class="govuk-button">Continue</button>

      </form>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
      Why the kind of damage matters
    </span>
        </summary>
        <div class="govuk-details__text">
          <p>HM Passport Office classes your passport as damaged if:</p>
          <ul class="list list-bullet">
            <li>you can’t read any of your details</li>
            <li>the laminate cover has come away</li>
            <li>there’s an ink or chemical spillage on any of the pages</li>
            <li>there’s discolouring of your personal details (for example your name or date of birth) or on the official observations page</li>
            <li>any of the pages are ripped, missing or detached</li>
            <li>the chip is damaged or showing through the back cover (e-passports only)</li>
            <li>there’s any damage to the back cover (for example ripped, bite marks or staple holes)</li>
            <li>there’s excess water damage</li>
          </ul>
        </div>
      </details>

    </div>
  </div>

{% endblock %}