{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/digital-photo" method="POST" autocomplete="off" novalidate="true" spellcheck="false">

        <div class="flash-card">
          <header>
            <h1 class="govuk-heading-xl">
        How to apply
      </h1>
          </header>
          <div class="grid-row" data-id="how-to-apply">
            <div class="column-two-thirds">
              <ul class="how-to-apply" data-id="how-to-apply-renew-uk">
                <li>
                  <span class="circle circle-step circle-white">1</span>
                  <h2 class="govuk-heading-m">Get a digital passport photo</h2>
                  <p>We’ll show you how to get a digital photo.</p>
                </li>

                <li>
                  <span class="circle circle-step circle-white">2</span>
                  <h2 class="govuk-heading-m">Apply and pay online</h2>
                  <p>A standard passport costs £75.50.</p>
                </li>

                <li>
                  <span class="circle circle-step circle-white">3</span>
                  <h2 class="govuk-heading-m">Send us your old passport</h2>
                  <p>You need to pay the postage to return your old passport.</p>
                </li>
              </ul>
              <button type="submit" class="govuk-button apply-button" style="margin-left: 40px;">
              Continue
            </button>

              <input type="hidden" name="x-csrf-token" value="PE1ksI3d-HtqrwqI5vN4shypp1zbqsa4jpyw">
            </form>
            <details class="govuk-details white" style="margin-left: 40px;">
              <summary class="govuk-details__summary white">
                <span class="govuk-details__summary-text">
                I need help doing things online    
          </span>
              </summary>
              <div class="govuk-details__text">
              You can call the Passport Adviceline and ask for help

              <br>Telephone: +44 (0) 300 330 0901
              <br>Textphone: +44 (0) 300 330 0808
              <br>Monday to Friday, 8:00am to 8:00pm (UK time)
              <br>Weekends and public holidays, 9:00am to 5:30pm (UK time)

              <br>Find out about call charges  
          </div>
            </details>
          </div>

        </div>
      </div>

    </div>
  </div>

{% endblock %}