{% extends "layout.html" %}

{% block pageTitle %}
  Start
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %}
          {{ serviceName }}
        {% endif %}
      </h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
            The rules for passports, driving, EHIC cards, pet travel and more may change after 
            the UK leaves the EU. <a href="https://www.gov.uk/visit-europe-brexit">Act now so you can travel as planned</a>.

  </strong>
      </div>
      <p>You can apply for, renew, replace or update your passport and pay for it online.</p>

      <p>It should take around 6 weeks to get your first UK adult passport, but it can take longer.</p>

      <a href="/apply-from-uk" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
        </svg>
      </a>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
    Contents
  </h2>

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#more-information">
        More information
      </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#other-ways">
        Other ways to apply
      </a>
          </li>

        </ul>

        <section class="govuk-tabs__panel" id="more-information">
          <h2 class="govuk-heading-l">More information</h2>
          <p>You’ll need a debit or credit card to use this service.</p>

          <p>It’s <a href="https://www.gov.uk/passport-fees">£9.50 cheaper</a> to apply for a passport online than by post.</p>

          <p>It should take around 6 weeks to get your first UK adult passport, but it can take longer.</p>

          <p>All other application types (for example, renewing a passport or getting a child passport) should take 3 weeks. It can take longer if more information is needed or your application hasn’t been filled out correctly.</p>

          <p> You should use a different service if you <a href="https://www.gov.uk/get-a-passport-urgently">need your passport urgently</a>.</p>

          <div class="govuk-inset-text">
              Do not book travel until you have a valid passport - doing so is at your own risk.
          </div>

        </section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="other-ways">
          <h2 class="govuk-heading-l">Other ways to apply</h2>
          <p>You can pick up passport application forms from your <a href="https://www.postoffice.co.uk/branch-finder">local Post Office</a> and apply by post, or use the <a href=""https://www.gov.uk/how-the-post-office-check-and-send-service-works>Post Office Check and Send service</a>.</p>
        </section>

      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Passport fees
              </a>
            </li>
            <li>
              <a href="#">
                Get a passport photo
              </a>
            </li>
            <li>
              <a href="#">
              Change your name or personal details on your passport              </a>
            </li>
            <li>
              <a href="#">
                Get a passport for your child
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}