{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/old-passport-details">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        What are your passport details?
      </h1>
      <form class="form" action="/previous-names" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="what-title-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
        Title
      </h1>
            </legend>
            <span id="what-title-conditional-hint" class="govuk-hint">
      Select one option.
    </span>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-title-conditional-1" name="what-title" type="radio" value="Mr" {{ checked("what-title", "Mr") }}  data-aria-controls="conditional-what-title-conditional-1">
                <label class="govuk-label govuk-radios__label" for="what-title-conditional-1">
          Mr
        </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-title-conditional-2" name="what-title" type="radio" value="Mrs" {{ checked("what-title", "Mrs") }}  data-aria-controls="conditional-what-title-conditional-2">
                <label class="govuk-label govuk-radios__label" for="what-title-conditional-2">
          Mrs
        </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-title-conditional-2" name="what-title" type="radio" value="Miss" {{ checked("what-title", "Miss") }} data-aria-controls="conditional-what-title-conditional-2">
                <label class="govuk-label govuk-radios__label" for="what-title-conditional-2">
          Miss
        </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-title-conditional-2" name="what-title" type="radio" value="Ms" {{ checked("what-title", "Ms") }}  data-aria-controls="conditional-what-title-conditional-2">
                <label class="govuk-label govuk-radios__label" for="what-title-conditional-2">
          Ms
        </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-title-conditional-3" name="what-title" type="radio" value="Other" {{ checked("what-title", "Other") }}  data-aria-controls="conditional-what-title-conditional-3">
                <label class="govuk-label govuk-radios__label" for="what-title-conditional-3">
          Other
        </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-what-title-conditional-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    <h4 class="govuk-heading-s">Other title<h4></label>
                      <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="other-detail" type="text" value="{{ data['other-detail'] }}" {{ data['other-detail'] }}>

                    </div>
                    <br>
                    <p>You’ll need to send proof of a new professional or honorary title if you want it added to your passport.</p>

                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="width-20">
                <h3 class="govuk-heading-m">
    First and middle names</h3>
              </label>
              <input class="govuk-input govuk-input--width-20" id="width-20" name="first-middle-name" type="text" value ="{{ data['first-middle-name'] }}" {{ data['first-middle-name'] }} >
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="width-20">
                <h3 class="govuk-heading-m">
                 Last name</h3>
              </label>
              <input class="govuk-input govuk-input--width-20" id="width-20" name="last-name" type="text" value = "{{ data['last-name'] }}" {{ data['last-name'] }}>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h3 class="govuk-heading-m">Did you use this name on your old passport?</h3>

                </legend>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="is-name-on-old-passport-1" name="is-name-on-old-passport" type="radio" value="yes" {{ checked("is-name-on-old-passport", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="is-name-on-old-passport-1">
              Yes</label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="is-name-on-old-passport-2" name="is-name-on-old-passport" type="radio" value="no" {{ checked("is-name-on-old-passport", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="is-name-on-old-passport-2">
          No, my name has changed
        </label>
                  </div>

                </div>
              </fieldset>
            </div>
            <button type="submit" class="govuk-button">
          Continue
      </button>
          </form>
        </div>

      </div>
    </div>

  {% endblock %}