{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        New passport
      </h1>

      <form class="form" action="/sign-new-passport" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Passport size

          </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="select-passport-size-1" name="select-passport-size" type="radio" value="£75.50" {{ checked("select-passport-size", "£75.50") }}>
                <label class="govuk-label govuk-radios__label" for="select-passport-size-1">
              Standard 34-page passport(£75.50)</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="select-passport-size-2" name="select-passport-size" type="radio" value="£85.50" {{ checked("select-passport-size", "£85.50") }}>
                <label class="govuk-label govuk-radios__label" for="select-passport-size-2">
          Frequent traveller 50-page passport(£85.50)
        </label>
              </div>

            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl"></legend>
            <p>If you're blind or visually impaired, we can add a braille sticker that reads passport, 
            your name and passport expiry date.    
          </p>

            <span id="braille-hint" class="govuk-hint"></span>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="braille-1" name="braille" type="checkbox" value="yes" >
                <label class="govuk-label govuk-checkboxes__label" for="braille-1">
              I need a braille sticker
        </label>
              </div>

            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button">
          Continue
      </button>
      </form>
    </div>
  </div>

{% endblock %}