{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/previous-names">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/address" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
        Were you born in the UK?
      </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="place-of-birth-1" name="place-of-birth" type="radio" value="yes" {{ checked("place-of-birth", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="place-of-birth-1">
              Yes</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="place-of-birth-2" name="place-of-birth" type="radio" value="no" {{ checked("place-of-birth", "no") }}>
                <label class="govuk-label govuk-radios__label" for="place-of-birth-2">
          No
        </label>
              </div>

            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-heading-m" for="width-20">
            <h3 class="govuk-heading-m">
                 Town of birth</h3>
          </label>
          <span id="with-hint-hint" class="govuk-hint">
              As written on your old passport    
          </span>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="town-of-birth" value= "{{ data['town-of-birth'] }}" {{ data['town-of-birth']}} type="text">
        </div>

        <button type="submit" class="govuk-button">
          Continue
      </button>
      </form>

    </div>
  </div>

{% endblock %}